<div class="menu">
 <%= link_to "home" ,          page_home_path, :alt => 'home' %>
 <%= link_to "about",       page_about_path, :alt => 'about' %>
 <%= link_to "works" ,       page_works_path, :alt => 'works' %>
 <%= link_to "clients",       page_clients_path, :alt => 'clients' %>
 <%= link_to "contact",       page_contact_path, :alt => 'contact' %>
</div>
