<% provide(:title, 'About') %>

<!--header-->
<div class="head">

  <%= image_tag "MAASLOGO.png", class: "logo" %>

  <div class="menubox">


    <ul class="menubox1">
      <a href="home" class="navigator1"> Home</a>
    </ul>


    <ul class="menubox1">
      <a href="about" class="navigator1"> About</a>

      <li> &nbsp; </li>
      <li class="navigator2">It's me</li>
    </ul>

    <ul class="menubox1">
      <a href="works" class="navigator1"> Works</a>

      <li> &nbsp; </li>
      <li class="navigator2">Illustrator</li>
      <li class="navigator2">Logos</li>
      <li class="navigator2">Cards</li>
      <li class="navigator2">Drawings</li>
    </ul>


    <ul class="menubox1">
      <a href="clients" class="navigator1"> Clients</a>

      <li> &nbsp; </li>
      <li class="navigator2">Aykent Co.</li>
      <li class="navigator2">Metro Hos.</li>
      <li class="navigator2">AvantGardeIQ</li>
      <li class="navigator2">and more...</li>
    </ul>


    <ul class="menubox1">
      <a href="contact" class="navigator1"> Contact</a>
    </ul>

  </div>


</div> <!--End header-->


<!--banner-->
<div class="banner">

  <!--inner-->
  <div class="inner1">

    <%= image_tag "bannerabout.png", class: "youtube" %>

    <div class="aboutbox2">
    <h4>Who I'm?</h4>
      <h5>I'm MaaS, Web developer and Graphic designer.</h5>
      <h4>What I offer?</h4>
      <h5>Front-end developing.</h5>
      <h5>Graphic, Art and Web design. Photoshop, Illustrator, CSS3, HTML5, Ruby on Rails...</h5>
      <h4>What I'm doing now?</h4>
      <h5>I'm developing my new project and soon will share.</h5>
    </div>

  </div><!--End inner-->
</div> <!--End banner-->


<!--footer-->
<div class="footer1">
  <p>&#169; Copyright. All Rights Reserved. MaaS Designer. Last Update: 20.10.2012 </p>

  <!--icon box-->
  <div class="iconbox">
    <a href="" class="icon"><%= image_tag "facebook.png", class: "icons" %> </a>
    <a href="" class="icon"><%= image_tag "twitter.png", class: "icons"%> </a>
    <a href="" class="icon"><%= image_tag "youtube.png", class: "icons"%>  </a>
    <a href="" class="icon"><%= image_tag "github.png",class: "icons" %>  </a>
    <a href="" class="icon"><%= image_tag "dribbble.png",class: "icons" %>  </a>
  </div> <!--End icon box-->
</div> <!--End footer-->