<% provide(:title, 'Works') %>

<!--header-->
<div class="head">

  <%= image_tag "MAASLOGO.png", class: "logo" %>

  <div class="menubox">


    <ul class="menubox1">
      <a href="home" class="navigator1"> Home</a>
    </ul>


    <ul class="menubox1">
      <a href="about" class="navigator1"> About</a>

      <li> &nbsp; </li>
      <li class="navigator2">It's me</li>
    </ul>

    <ul class="menubox1">
      <a href="works" class="navigator1"> Works</a>

      <li> &nbsp; </li>
      <li class="navigator2">Illustrator</li>
      <li class="navigator2">Logos</li>
      <li class="navigator2">Cards</li>
      <li class="navigator2">Drawings</li>
    </ul>


    <ul class="menubox1">
      <a href="clients" class="navigator1"> Clients</a>

      <li> &nbsp; </li>
      <li class="navigator2">Aykent Co.</li>
      <li class="navigator2">Metro Hos.</li>
      <li class="navigator2">AvantGardeIQ</li>
      <li class="navigator2">and more...</li>
    </ul>


    <ul class="menubox1">
      <a href="contact" class="navigator1"> Contact</a>
    </ul>

  </div>


</div> <!--End header-->


<!--banner-->
<div class="banner">

  <!--inner-->
  <div class="inner2">


    <%= image_tag "bannerworks.png", class: "works" %>


    <div class="gallery">
      <ul class="grid cs-style-1">
        <li>
          <figure>
            <%= image_tag "11.png" %>
            <figcaption>
              <h3> Card Design </h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "5.png" %>
            <figcaption>
              <h3> Card Design </h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "2.png" %>
            <figcaption>
              <h3> Card Design </h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "12.png" %>
            <figcaption>
              <h3>Logo Design</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "1.png" %>
            <figcaption>
              <h3>Logo Design</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "3.png" %>
            <figcaption>
              <h3>Logo Design</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "10.png" %>
            <figcaption>
              <h3>Logo and Card Design</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "6.png" %>
            <figcaption>
              <h3>Drawings</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "7.png" %>
            <figcaption>
              <h3>Drawings</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "4.png" %>
            <figcaption>
              <h3>Drawings</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "9.png" %>
            <figcaption>
              <h3>Drawings</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <%= image_tag "8.png" %>
            <figcaption>
              <h3>Drawings</h3>
              <span> MaaS </span>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>


  </div> <!--End inner-->
</div> <!--End banner-->

<!--footer-->
<div class="footer2">
  <p>&#169; Copyright. All Rights Reserved. MaaS Designer. Last Update: 20.10.2012 </p>

  <!--icon box-->
  <div class="iconbox">
    <a href="" class="icon"><%= image_tag "facebook.png", class: "icons" %> </a>
    <a href="" class="icon"><%= image_tag "twitter.png", class: "icons"%> </a>
    <a href="" class="icon"><%= image_tag "youtube.png", class: "icons"%>  </a>
    <a href="" class="icon"><%= image_tag "github.png",class: "icons" %>  </a>
    <a href="" class="icon"><%= image_tag "dribbble.png",class: "icons" %>  </a>
  </div> <!--End icon box-->
</div> <!--End footer-->